{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block css %}{% endblock %}
    {% include 'include_html/css.html' %}
    <title>FastPick.xyz || Online Buy & Rent Solution</title>
    <style>
        .logoimg {
            padding: 5px 0 0 0;
        }
    </style>
</head>
<body>
{#<br>#}
{#<marquee behavior="alternate" ><b style="background-color:#ff9900 ">-----This Site is underdevelopment-----</b></marquee>#}
{#<br>#}
<div class="container border">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>
{% include 'include_html/js.html' %}
{% block js %}{% endblock %}
</body>
</html>