{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    {% block css %}{% endblock %}
    {% include 'include_html/css.html' %}
    <title>FastPick.xyz || Online Buy & Rent Solution</title>
    <style>
        .logoimg {
            padding: 5px 0 0 0;
        }
    </style>
</head>
<body>
{#<br>#}
{#<marquee behavior="alternate" ><b style="background-color:#ff9900 ">-----This Site is underdevelopment-----</b></marquee>#}
{#<br>#}

<div class="container border">
    <div class="container">


        {#        {% if messages %}#}
        {#            <ul class="alert alert-success ">#}
        {#                {% for message in messages %}#}
        {#                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>#}
        {#                    <script>#}
        {#                    alert({{ message }})#}
        {#                    </script>#}
        {#                {% endfor %}#}
        {#            </ul>#}
        {##}
        {#        {% endif %}#}
        {% for message in messages %}
            {#            <div class="alert alert-{{ message.tags }}">{{ message }}</div>#}
            {#            <script> setTimeout(function() { alert('{{ message.tags }} \n {{ message }}')}, 5000);</script>#}
            <div class="alert {{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>

        {% endfor %}
        {#        {% if messages %}#}
        {#            <div id="myModal" class="modal fade">#}
        {#                <div class="modal-dialog modal-confirm">#}
        {#                    {% for message in messages %}#}
        {#                        <div class="modal-content">#}
        {#                            {% if message.tags %}#}
        {#                                <div class="modal-header">#}
        {#                                    <div class="icon-box">#}
        {#                                        <i class="material-icons">&#xE876;</i>#}
        {#                                    </div>#}
        {#                                    <h4 class="modal-title">{{ message.tags }}</h4>#}
        {#                                </div>#}
        {#                            {% endif %}#}
        {#                            <div class="modal-body">#}
        {#                                <p class="text-center">{{ message }}</p>#}
        {#                            </div>#}
        {#                            <div class="modal-footer">#}
        {#                                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endif %}#}
        {% include 'include_html/nav.html' %}
        {% block content %}{% endblock %}
    </div>
</div>
{% include 'include_html/js.html' %}
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            console.log("De")
        });
    }, 3000);
</script>
{% block js %}{% endblock %}
</body>
</html>