{% extends 'base.html' %}
{% block content %}
    {% include 'include_html/nav.html' %}
    <div class="container">


    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>ছবি</th>
                    <th>নাম</th>
                    <th>লেখক</th>
                    <th>প্রকাশের সাল</th>
                    <th>প্রকাশনী</th>
                    <th>শেষ সংকরন</th>
                    <th>রেগুলার দাম</th>
                    <th>বর্তমান দাম</th>
                    <th>ভাড়া খরচ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>
                <tr>
                    <td><img width="80" height="80px" src=""></td>
                    <td>অপেক্ষা</td>
                    <td>হুমায়ন আহমেদ</td>
                    <td>২০১২</td>
                    <td>দেশ প্রকাশনী</td>
                    <td>২০১৮</td>
                    <td>২৩০৳</td>
                    <td>২০০৳</td>
                    <td>৩৫৳</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="row">
        </div>


    </div>
{% endblock %}



