{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='row justify-content-center'>
{% if form %}
    <div class='col-md-4 col-10  mx-auto py-5'>
        <h1>Set your Password</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
        <p style='margin-bottom: 12px;'></p>
        <button type="submit" class='btn btn-block btn-info'>Set new password</button>
        </form>
      </div>
    {% else %}
    <p class="display-4 text-uppercase bg-danger ">this link is invalid!</p>
{% endif %}
</div>
{% endblock %}
