{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% block css %}
        <style>
            .logoimg {
                padding: 5px 0 0 0;
            }

            tr:hover {
                background-color: #ffff99;
            }
        </style>

    {% endblock %}
    {% include 'include_html/nav.html' %}
    <div class="container">


    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <p class="text-center bg-light">Search Result for "<b class="text-info">{{ query }}</b>"</p>
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                <tr>
                    <th>ছবি</th>
                    <th>নাম</th>
                    <th>লেখক</th>
                    <th>প্রকাশের সাল</th>
                    <th>প্রকাশনী</th>
                    <th>বর্তমান দাম</th>
                    <th>ভাড়া খরচ</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}

                    <tr onclick="window.location.href='{{ obj.get_absolute_url }}'">
                        {% if obj.image %}
                            <td><img width="60px" height="60px"
                                     src="{{ obj.image.url }}"></td>
                        {% else %}
                            <td><img width="60px" height="60px"
                                     src="{% static 'img/book_placeholder.png' %}"></td>
                        {% endif %}

                        <td>{{ obj.name }}</td>
                        <td>{{ obj.author }}</td>
                        <td>{{ obj.publish_date }}</td>

                        <td>{{ obj.publication }}</td>
                        <td>{{ obj.price }} ৳</td>
                        {% if obj.is_rent_available %}
                            <td>{{ obj.rent_charge }} ৳</td>
                        {% else %}
                            <td>Not Available</td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td><p>Search <b class="text-warning text-capitalize">"{{ query }}" is Not Available </b></p></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
        </div>


    </div>
{% include 'include_html/pagination.html' %}
{% endblock %}



