{% extends 'base.html' %}
{% load static %}
{% block css %}
    <title>FastPick|Review</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div id="products" class="row view-group">

                    <div class="col-sm table-responsive  ">
        <table class="table table-hover " style="cursor: pointer;">
            <thead class="thead-light ">
            <tr>
                <th>ছবি</th>
                <th>নাম</th>
                <th>লেখক</th>
                <th>তারিখ</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}

                <tr onclick="window.location.href='{{ obj.get_absolute_url }}'">
                    {% if obj.image %}
                        <td><img width="60px" height="60px"
                                 src="{{ obj.image.url }}"></td>
                    {% else %}
                        <td><img width="60px" height="60px"
                                 src="{% static 'img/book_image.png' %}"></td>
                    {% endif %}
                    <td>{{ obj.book }}</td>
                    <td>{{ obj.author }}</td>
                    <td>{{ obj.timestamp|date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}