input.placeholder {
    text-align: center;
}
.logoimg{padding: 25px;}
.center {
    margin: auto;
    width: 100%;
    /*border: 3px solid green;*/
    padding: 10%;
}

/*.py-5{*/
	/*padding: 300px;*/
/*}*/
body{
	margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.stl{
	font-size: 20px;
}
.form-control:focus{
    border-color: #ff9900;
    }
.btn:focus{
    border-color: #ff9900;
    border-shadow:none ;
}

/*pagination css*/
pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination-current, .pagination-total {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #ff9900;
}

.pagination-total {
    background-color: #B9B9B9;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #ff9900;
    font-size: 1.2em;
}

.pagination-of {
    color: #ffb60f;
    padding: 0 1em;
}


.pagination-action:hover {
    color: #160229;
}
/*pagination css end*/

/*table design */
.shoppingCartIcon span{font-weight:600}
.cartItem {
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #d21f44;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	left: 85px;
	top: -5px;
}
.cartItem:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #d21f44;
	left: -5px;
	position: absolute;
	top: 5px;
}
.cartItem span {
	position: relative;
	top: 6px;
}

/*table design end*/