input.placeholder {
    text-align: center;
}
.logoimg{padding: 25px;}
.center {
    margin: auto;
    width: 100%;
    /*border: 3px solid green;*/
    padding: 10%;
}

/*.py-5{*/
	/*padding: 300px;*/
/*}*/
body{
	margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.stl{
	font-size: 20px;
}
.form-control:focus{
    border-color: #ff9900;
    }
.btn:focus{
    border-color: #ff9900;
    border-shadow:none ;
}

/*pagination css*/
pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination-current, .pagination-total {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #ff9900;
}

.pagination-total {
    background-color: #B9B9B9;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #ff9900;
    font-size: 1.2em;
}

.pagination-of {
    color: #ffb60f;
    padding: 0 1em;
}


.pagination-action:hover {
    color: #160229;
}
/*pagination css end*/

/*table design */


/*table design end*/