<form method="POST" action="{% url 'cart-update-url' %}" class="form">
    {% csrf_token %}
    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    {% if product in cart.books.all %}
        <button href='' type="submit"
                class="btn-danger">
            <i class="fas fa-cart-arrow-down"></i> Remove
        </button>
    {% else %}
        <button href='' type="submit"
                class="btn-success">
            <i class="fas fa-cart-plus"></i> Add Cart
        </button>
    {% endif %}
</form>
