<form method="POST" action="{% url 'cart-add-url' object.id %}" class="form">
    {% csrf_token %}
    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    {{ cart_product_form }}
    <input type="submit" value="add to cart" class="add-to-cart">

</form>

{#<form action="{% url "cart-add-url" object.id %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ cart_product_form }}#}
{#    <input type="submit" value="add to cart" class="btn btn-primary">#}
{#</form>#}