{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block css %}
        <title>FastPick | {{ title }}</title>
        <style>
            .logoimg {
                padding: 5px 0 0 0;
            }
        </style>

    {% endblock %}
    {% include 'include_html/nav.html' %}
    <div class="container">

        <div class="row border">
            <div class="col-sm border">
                <br>
                {% if object.image %}
                    <a href=""><img width="420px" height="480px" src="{{ object.image.url }}"></a>
                {% else %}
                    <a href=""><img width="420px" height="480px" src="{% static 'img/book_placeholder.png' %}"></a>

                {% endif %}
                <br>
            </div>
            <div class="col-sm border">
                <br>
                <br>
                <p class="text-primary"><b class="text-body"> Book Name: </b>{{ object.name }}</p>
                <p class="text-primary"><b class="text-body">Author:</b> {{ object.author }}</p>
                <p class="text-primary"><b class="text-body">Publish Date:</b> {{ object.publish_date }}</p>
                <p class="text-primary"><b class="text-body">Total Page:</b> {% if object.total_pages %}{{ object.total_pages }}{% else %}Unknown {% endif %}</p>
                <p class="text-primary"><b class="text-body">Regular Price:</b> {{ object.regular_price }} BDT</p>
                <p class="text-primary"><b class="text-body">Now Price:</b> {{ object.price }} BDT</p>
                <p class="text-primary"><b class="text-body">Rent Status:</b> {% if object.is_rent_available %}
                    Available{% else %} N/A {% endif %}</p>
                <p class="text-primary"><b class="text-body">Rent Charge:</b> {% if object.is_rent_available %}
                    {{ object.rent_charge }} {% else %} N/A {% endif %}</p></p>
                <p class="text-primary"><b class="text-body">Book Type:</b> {{ object.category }}</p>
                <p class="text-primary"><b class="text-body">Book Status:</b> {% if object.is_old %} Old {% else %} New {% endif %} Book</p>
                <p class="text-primary"><b class="text-body">Tags:</b> {% for tag in object.tag.all %}
                    {{ tag }}, {% endfor %}</p>
                <button href='' type="button"
                        class="btn-success">
                    Order Now

                </button>
                <button href='' type="button"
                        class="btn-success">
                    Rent Request

                </button>

            </div>

        </div>
        <br>
        <div class="row border ">
            <div class="col-sm-12 justify-content-center">
                <h5 class="text-info">About Book:</h5>
                <p>{{ object.descriptions }}</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}