{% extends 'base.html' %}
{% block content %}
    {% block css %}
        <style>
            .logoimg {
                padding: 5px 0 0 0;
            }

        </style>

    {% endblock %}
    {% include 'include_html/nav.html' %}
    {% if not billing_profile %}
        <div class="row text-center">
            <div class="col-12 col-md-6">
                Login
                {% include 'accounts/forms/login_form.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
            <div class="col-12 col-md-6">
                As Guest
                {% url 'guest_access' as guest_access_url  %}
                {% include 'accounts/forms/login_form.html' with form=guest_register_form next_url=request.build_absolute_uri action_url=guest_access_url %}
            </div>
        </div>
    {% else %}
        <h1>Checkout Home</h1>
        <p>Order Id: {{ object.order_id }}</p>
        <p>Cart Total: {{ object.cart.total }}</p>
        <p>Shipping Total: {{ object.shipping_total }}</p>
        <p>Oder Total: {{ object.total }}</p>
    {% endif %}
{% endblock %}