{% if cart.books.exists %}
    <h2>Cart List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Book Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for book in cart.books.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ book.get_absolute_url }}">{{ book.name }} </a></td>
                <td>{{ book.price }} TK</td>
                <td>{% include 'carts/add_or_remove.html' with product=book cart=cart %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="1"></td>
            <td><b>Subtotal:</b></td>
            <td>{{ cart.sub_total }} TK</td>
        </tr>
        <tr>
            <td colspan="1"></td>
            <td ><b>Total Vat fee:</b></td>
            <td>{{ cart.get_vat }}</td>
        </tr>

        <tr>
            <td colspan="1"></td>
            <td><b>Total:</b></td>
            <td>{{ cart.total }} TK</td>
        </tr>
        </tbody>
    </table>
{% else %}
    <p>Cart is Empty </p>
{% endif %}

