{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-lg-auto col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <img width="90px" src="{% static 'img/logo.png' %}">
                            <br>
                            117/1 East Tejturi Bazar
                            <br>
                            Tejgaon 1215 Dhaka
                            <br>
                            <abbr>Phone:</abbr> 01628 050401
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Date: {{ object.timestamp|date }}</em>
                        </p>
                        <p>
                            <em>Receipt #: {{ object.order_id }}</em>
                        </p>
                        <p>
                            <em>Payment Status : <b>{{ payment.get_status_display }}</b></em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart in order_items %}
                            <tr>
                                <td class="col-md-9"><em>{{ cart.product.name }}</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> {{ cart.quantity }} </td>
                                <td class="col-md-1 text-center">{{ cart.price }}৳</td>
                                <td class="col-md-1 text-center">{{ cart.item_total }}৳</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                {% if object.shipping_total %}
                                    <p>
                                        <strong>Shipping Charg: </strong>
                                    </p>{% endif %}
                            </td>

                            <td class="text-center">
                                <p>
                                    <strong>{{ object.cart_total }}৳</strong>
                                </p>
                                {% if object.shipping_total %}
                                    <p>
                                        <strong>{{ object.shipping_total }}৳</strong>
                                    </p>
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>{{ object.total }}৳</strong></h4></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'payment_request_url' object.order_id %}" class="btn btn-success btn-lg btn-block">
                        Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                    </a></td>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

