{% extends 'base.html' %}
{% block content %}
    <div class="col-6 mx-auto border bg-success">
        <p>Your Payable Amount: {{ object.total }} Tk.</p>
        <p>Your Choosing Shipping Method: {{ object.shipping_method.get_method_display }}</p>
        {% if object.shipping_method.method == 'home delivery' %}
            <p>Your Shipping Address: {{ object.shipping_address }}</p>
        {% endif %}

        <p class="lead-1">How to Pay </p>
        <p class="lead-1">Rocket Payment</p>
        <hr>
        <ul>
            <li>Dial *322# </li>
            <li>Select Payment option 1</li>
            <li>Select Bill pay option 1</li>
            <li>Write Biller ID "78659"</li>
            <li>Write Order ID in Bill Number Box "{{ object.order_id }}"</li>
            <li>Write Your Amount "{{ object.total}}"</li>
            <li>Write your Secret PIN (XXXX)</li>
            <li>You will get a confirmation SMS</li>
        </ul>
    <p class="lead">After Payment</p>
     <p>Order ID:"{{ object.order_id }}"</p>
     <p>Txnid:"getting by return SMS"</p>
     <p class="lead">Send: 01628050401</p>

    </div>
{% endblock %}
