{% load static %}

<!-- Required meta tags -->
<meta name="keywords" content="FastPick, e-commarce, book Shop,
    book rent bd,book buybd, Bangladesh,bd online book shop,
    boiyer bazar, boihat, boiyerhat, boighor, BOOK SHOP,
    online book rent system, boilagbe, book lover, bookland,
    amar boi, amar shop, nilkkhet,old book, puran boi, bookmark,"/>
<meta name="description" content=",you can buy new and old book
    and you can get ren from this system. you can get a membership in this system , bd, Bangladesh"/>
<meta name="subject" content="bdbook shop ,boinin,varalagbe,varanin,varaycole,"/>
<meta name="copyright" content="boinin">
<meta name="language" content="BN">
<meta name="language" content="ENG">
<meta name="robots" content="index,follow"/>
<meta name="revised" content=""/>
<meta name="abstract" content="">
<meta name="topic" content=",Book shop , boibazar,boiyerhat,boinin">
<meta name="summary" content=",get rent book">
<meta name="Classification" content="bookshop">
<meta name="author" content="name,fastpick.xyz">
<meta name="designer" content="fastpick.xyz">
<meta name="copyright" content="fastpick.xyz">
<meta name="reply-to" content="fastpick.xyz@gmail.com">
<meta name="owner" content="fastpick.xyz,ojanasolution.com">
<meta name="url" content="http://fastpick.xyz/">
<meta name="identifier-URL" content="">
<meta name="category" content="bookshop,book seller">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Bangladesh">
<meta name="rating" content="General">
<meta name="revisit-after" content="1 days">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Bootstrap CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- font-awesome CDN-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
{#<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>#}
{#<script>tinymce.init({ selector:'textarea' });</script>#}




