{% load static %}
<div class="container">
    <div class="row logoimg">
        <table align="center" valign="center">
            <tr>
                <td>
                    <a href="{% url 'book-list-view-url' %}">
                        <img width="220px" src="{% static 'img/logo.png' %}" alt="logo"/>
                    </a>
                    <span>
              <p class="text-center">পুরাতন বইয়ের নতুন সম্ভাবনা</p>
              </span>

                </td>
            </tr>
        </table>
    </div>
</div>