{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block css %}
        <title>Fastpick|Category list</title>
    {% endblock %}

    <p class="lead">All Category's: </p>
    <hr>
    <div class="row">
        {% if object_list %}
            {% for object in object_list %}
                <div class="col-lg-2 col-sm-6 col-md-4 mb-3">
                    <div class="card" style="max-height: 200px; height: 200px;">
                        <!-- Image -->

                        <a href="{% url 'category-details-view-url' slug=object.slug %}"><img width="80px"
                                                                                              height="120px" class="card-img-top" src="{% static 'img/book_image.png' %}"
                                                                                              alt="{{ object.name }}"></a>

                        <!-- Text Content -->
                        <div class="card-body">
                            <a href="{% url 'category-details-view-url' slug=object.slug %}"><p>{{ object.keyword }}</p></a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% if is_paginated %}
    <div class="row">
    <div class="col-sm-12">
    {% include 'include_html/pagination.html' with page_obj=page_obj %}
    </div>
    </div>
    {% endif %}

{% endblock %}